@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Karla:wght@200;300;400;500;600;800&display=swap');

* {
  margin: 0;
  font-family: Karla;
}

:root {
--very-ligh-white: #ECFDF5;
--medium-light-green: #10B981;
--very-light-green: #4ADF86;
--dark-blue: #1F2937;
--medium-gray: #273549
}

.main {
  background-color: var(--dark-blue);
  margin: 30px auto;
  width: 450px;
  height: 450px;
  padding: 55px 55px;
  border-radius: 20px;
  border: var(--medium-light-green) solid 10px;
} 

.title {
  color: var(--very-ligh-white);
  margin-top: 118px;
  font-weight: bolder;
  font-size: 40px;
}
.enfasis {
  color: var(--very-light-green);
}
.text {
  color: var(--very-ligh-white);
  font-family: inter;
  font-size: 20px;
}
.btn-el {
  border: none;
  padding: 12px 20px;
  margin-top: 30px;
  background-color: var(--medium-light-green);
  color: var(--very-ligh-white);
  border-radius: 5px;
  font-family: Inter;
  font-size: 16px;
}

.btn-el:hover{
  transform: scale(1.1);
}

.line {
  margin-top: 30px;
  height: 2px;
  background-color: var(--medium-gray);
}

.passwords {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}

.pass {
  background-color: var(--medium-gray);
  height: 39px;
  width: 211px;
  color: var(--very-light-green);
  font-family: Inter;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: #10B981 2px 2px 2px;
}
